/*----ELEMENTS CFG----*/
* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgb(26, 52, 90);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(28, 36, 43);
}
button {
    transition: 200ms;
}
button:hover {
    cursor: pointer;
    background-color: rgb(175, 175, 175);
}

/*----CENTRALIZE CLASSES----*/
.cent {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centColum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.elementCFG {
    width: 60%;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 10px;
    border: 0;
}

/*-------------------MAIN CONTAINER-------------------*/
#mainContainer {
    justify-content: flex-start;
    width: 800px;
    height: 650px;
    font-size: 3rem;
    color: white;
    background-color: rgb(31, 64, 94);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 5px black;
}

/*----HEADER----*/
#headerContainer {
    text-align: center;
    width: 100%;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid black;
    background-color: rgb(0, 132, 255);
}
#headerContainer h1 {
    font-size: 3rem;
}

/*--------------CONTENT------------*/

#contentContainer {
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

/*----INSERT----*/
#insertContainer {
    width: 100%;
    height: 25%;
    font-size: 3rem;
    color: white;
    padding: 15px;
}
#insertContainer span {
    font-size: 2.4rem;
}
#insertContainer p {
    padding: 5px;
    font-size: 2.5rem;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    text-transform: uppercase;
}
#insertContainer #errorName {
    font-size: 1.5rem;
    color: red;
    opacity: 0%;
    visibility: hidden;
    transition: 200ms;
}
#insertContainer #errorP {
    font-size: 1.5rem;
    color: red;
    opacity: 0%;
    top: 42.5%;
    position: absolute;
    visibility: hidden;
    transition: 50ms;
}
#buttons {
    display: flex;
    width: 61%;
}
#buttons #input {
    width: 70%;
}
#buttons #buttonAddName {
    width: 30%;
}

/*----NAMES----*/
#namesContainer {
    justify-content: flex-start;
    position: relative;
    background-color: rgb(63, 97, 129);
    width: 60%;
    height: 70%;
    border-radius: 10px;
}
#namesContainer h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 10px 0px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid black;
    background-color: rgb(0, 132, 255);
}
#namesContainer #names {
    position: absolute;
    bottom: 19.5%;
    text-align: center;
    font-size: 3rem;
    width: 85%;
    height: 57%;
    padding: 15px;
    overflow: scroll;
    overflow-x: hidden;
    border: 2px solid rgb(26, 52, 90);
    border-radius: 10px;
    background-color: rgb(45, 91, 129);
}
#namesContainer #buttonSorteio {
    position: absolute;
    bottom: 0%;
    font-size: 1.5rem;
    margin: 15px;
    padding: 5px 0px;
}

.nameCFG {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgb(0, 126, 245);
}
.nameCFG p {
    width: 80%;
}
.nameCFG button {
    padding: 0px 10px;
    width: fit-content;
    border-radius: 10px;
    border: 0;
}
/*--------------END-CONTENT------------*/

/*----FOOTER----*/
#footerContainer {
    margin: 20px;
    height: 5%;
}
#footerContainer a {
    color: white;
    border: 2px solid rgb(0, 132, 255);
    border-radius: 10px;
    padding: 2px;
    text-decoration: none;
    font-size: 1rem;
    transition: 500ms;
    box-shadow: 2px 2px 5px black;
}
#footerContainer span {
    font-size: 1.5rem;
}
#footerContainer a:hover {
    background-color: rgba(32, 127, 252, 0.397);
}
/*-------------------END-MAIN CONTAINER-------------------*/

/*-------------------RESULT CONTAINER-------------------*/
#resultContainer {
    position: absolute;
    visibility: hidden;
    width: 800px;
}
#divResult {
    position: absolute;
    opacity: 0%;
    color: white;
    visibility: hidden;
    top: 38%;
    width: 50%;
    height: 110px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px black;
    background-color: rgb(0, 132, 255);
    transition: 600ms;
}
#divResult h1 {
    font-size: 2.25rem;
}
#divResult span {
    font-size: 2.25rem;
}
#divResult button {
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 4px 25px;
    border-radius: 10px;
    border: 0;
}

/*----------------MEDIA QUIRES--------------*/

@media (max-width: 860px) {
    body {
        width: 100%;
        align-items: flex-start;
        background-color: rgb(31, 64, 94);
    }

    #mainContainer {
        border-radius: 0;
        position: relative;
        width: 100%;
        height: 100vh;
    }

    #headerContainer {
        z-index: 5;
    }

    #insertContainer {
        width: 100%;
        height: 25%;
    }
    #insertContainer #buttons {
        width: 90%;
        font-size: 2.25rem;
    }
    #namesContainer {
        width: 85%;
        height: 65%;
        margin: 0;
    }
    #namesContainer #names {
        width: 90%;
        height: 60%;
        bottom: 17.5%;
        padding: 7px;
        font-size: 4rem;
    }
    #namesContainer #buttonSorteio {
        position: absolute;
        margin: 0;
        bottom: 4%;
    }

    #footerContainer {
        height: 2%;
        margin: 30px;
    }

    #resultContainer {
        width: 100%;
        height: 100vh;
    }
}
@media (max-width: 540px) {
    * {
        font-size: 55%;
    }
}
@media (max-width: 460px) {
    #insertContainer #errorName {
        font-size: 1rem;
    }
    #divResult {
        padding: 10px;
    }
    #divResult h1 {
        font-size: 1.9rem;
    }
    #divResult span {
        font-size: 1.9rem;
    }
}

@media (max-width: 340px) {
    * {
        font-size: 52.5%;
    }
}
@media (max-width: 310px) {
    * {
        font-size: 50%;
    }
}
